body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
}
.justify-content-end{
  justify-content: flex-end;
}
.justify-content-center{
  justify-content: center;
}

.display{
  height: 40px;
  border: 1px solid black;
  max-width: 160px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: black;
  color: white;
}

.cal-btn{
  width: 40px;
  height: 40px;
  background-color: azure;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-orange{
  background-color: orange;
}
.clear-btn{
  height: 40px;
  max-width: 160px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  cursor: pointer;
}